<div class="sideBySideContainer">

  <div>
    <div class="main-title">
      <h1 [routerLink]="['']" style="cursor: pointer; outline: none;">Heros</h1>
    </div>
    <div class="heros-grid">

      <app-hero-item
      *ngFor="let monster of monsters; let i = index"
      [hero]="monster"
      [index]="i"></app-hero-item>

    </div>
    <div class="button-container">
      <button class="btn" (click)="toSemiFinals()" [disabled]="monsters && !semiFinalsButton">
        Četvrt finale
      </button>
    </div>

    <div *ngIf="!semiFinalsButton && semiFinalsHeros.length > 0">
      <ul>
        <app-hero-pair *ngFor="let pair of semiFinalsHeros" [pair]="pair"></app-hero-pair>
      </ul>
    </div>

    <div class="button-container">
      <button class="btn" (click)="toHalfFinals()" *ngIf="!semiFinalsButton"
        [disabled]="!halfFinalsButton">Polufinale</button>
    </div>

    <div *ngIf="halfFinalsHeros.length > 0">
      <ul>
        <app-hero-pair *ngFor="let pair of halfFinalsHeros" [pair]="pair"></app-hero-pair>
      </ul>
    </div>

    <div class="button-container">
      <button class="btn" (click)="toFinals()" *ngIf="!semiFinalsButton && !halfFinalsButton"
        [disabled]="!finalsButton">Finale</button>
    </div>

    <div *ngIf="fullFinalsHeros.length > 0">
      <ul>
        <app-hero-pair *ngFor="let pair of fullFinalsHeros" [pair]="pair"></app-hero-pair>
      </ul>
    </div>

    <div *ngIf="finalsResult.length > 0" class="winner-card">
      <h2>Winner</h2>
      <div class="winner-card__hero">
        <img [src]="finalsResult[0].image.url" [alt]="finalsResult[0].name">
        <div class="winner-card__hero--info">
          <h3>{{ finalsResult[0].name }}</h3>
          <ul>
            <li>intelligence - {{ finalsResult[0].powerstats.intelligence }}</li>
            <li>strength - {{ finalsResult[0].powerstats.strength }}</li>
            <li>speed - {{ finalsResult[0].powerstats.speed }}</li>
            <li>durability - {{ finalsResult[0].powerstats.durability }}</li>
            <li>combat - {{ finalsResult[0].powerstats.combat }}</li>
          </ul>
        </div>
      </div>
    </div>
    <br><br>
    <div class="button-container">
      <button class="btn" (click)="toNewTournament()" *ngIf="playAgain">Novi turnir</button>
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>